.heading-section {
    $class: &;

    &-content {
        display: none;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        cursor: pointer;
        position: relative;

        padding-left: 20px;

        &:before {
            content: '';
            z-index: 1;
            left: 0;
            top: 50%;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgICA8cGF0aCBzdHJva2U9ImN1cnJlbnRDb2xvciIgZmlsbD0ibm9uZSIgZD0iTTMgNmw1IDUgNS01Ii8+Cjwvc3ZnPgo=');
            transform: translateY(-50%) rotate(-90deg);
            transition: transform 0.3s ease;
            height: 20px;
            width: 20px;
            position: absolute;
        }
    }

    &.open {
        > #{$class}-content {
            display: revert;
        }

        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6 {
            &:before {
                transform: translateY(-50%);
            }
        }
    }
}
